body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #81D4FA;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
}

.mobile-container-outer {
    width: 250px;
    height: 500px;
    perspective: 1500px;
    .mobile-container-inner {
        position: relative;
        transform: rotateX(55deg) rotateZ(35deg);
        transform-style: preserve-3d;
        width: 180%;
        height: 150%;
        .front {
            background-color: #ffffff;
            height: 100%;
            width: 100%;
            border-radius: 20px;
            position: relative;
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25), inset 0 0 10px #dae0ea;
            .speaker {
                position: absolute;
                top: 23px;
                left: 50%;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transform: translate(-50%, 0);
                background-color: rgba(0, 0, 0, 0.25);
            }
            .sensor {
                position: absolute;
                top: 25px;
                left: 35%;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.25);
                &.sensor2 {
                    left: 30%;
                }
                &.sensor3 {
                    left: auto;
                    right: 35%;
                }
            }
            .screen {
                position: absolute;
                top: 7.5%;
                height: 85%;
                width: 92.5%;
                left: 3.75%;
                z-index: 1;
                background-color: #ffffff;
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                transform-style: preserve-3d;

                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: -1;
                  width: 100%;
                  height: 100%;
                  border-radius: 3px;
                }
            }
            .button-circle {
                position: absolute;
                bottom: 15px;
                left: calc(50% - 15px);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                box-shadow: inset .5px 0 4px rgba(0, 0, 0, .25);
            }
        }
        .back {
            background-color: #e8ecf2;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 20px;
            position: absolute;
            transform: translateZ(-20px);
            box-shadow: 20px 20px 200px rgba(0, 0, 0, 0.25), 0 0 20px rgba(0, 0, 0, 0.25), inset 0 0 20px rgba(0, 0, 0, 0.35);
        }
        .bottom {
            position: absolute;
            bottom: 0;
            left: 3%;
            width: 92%;
            border-top-left-radius: 10px;
            height: 20px;
            background-color: #e8ecf2;
            transform-origin: 0 100%;
            transform: rotateX(90deg);
            box-shadow: inset 15px -5px 10px rgba(232, 236, 242, 0.5), inset 7px 5px 15px rgba(0, 0, 0, 0.20);
            .hole {
                position: absolute;
                top: 9px;
                left: 10px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.25);
                &.hole2 {
                    left: 17.5px;
                }
                &.hole3 {
                    left: 25px;
                }
                &.hole4 {
                  left: auto;
                  right: 25px;
                }
                &.hole5 {
                    left: auto;
                    right: 17.5px;
                }
                &.hole6 {
                    left: auto;
                    right: 10px;
                }
                &.charger {
                    left: 50%;
                    transform: translate(-50%, 0);
                    top: 7px;
                    width: 20px;
                    height: 5px;
                    margin-left: 3px;
                    border-radius: 2.5px;
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
        .bottom2 {
            position: absolute;
            left: 10px;
            bottom: 0.5%;
            width: 20px;
            height: 15px;
            background-color: #cfd3d8;
            transform-origin: 0 100%;
            transform: rotateY(90deg) rotateX(40deg);
        }
        .right {
            position: absolute;
            right: 0;
            bottom: 4.25%;
            width: 20px;
            height: 93.5%;
            background-color: #dee1e7;
            transform-origin: 100% 0;
            transform: rotateY(-90deg);
            box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.20);
            &::before {
                content: '';
                position: absolute;
                top: 1.5px;
                right: -1px;
                background-color: #dee1e7;
                box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
                width: 10px;
                height: 20px;
            }
        }
    }
}